/* footer.css */

/* Base styles */

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-logo {
    text-align: center;
    padding-left: 20px;
}

.footer-logo img {
    width: 230px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-section {
    padding: 20px;
    flex: 1;
    max-width: 300px;
}

.footer-section h2 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 14px;
}

.contact span {
    display: block;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #fff;
    margin-right: 10px;
    font-size: 20px;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
}

/* Responsive adjustments */

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    
    .footer-section {
        max-width: 100%;
        margin-bottom: 20px;
    }
    
    .footer-logo {
        padding-bottom: 10px;
    }
}
